.selectInput {
		display: flex;
		justify-content: center;
		background-color: #FAFAFB;
		border: 1px solid #DA1414;
		box-sizing: border-box;
		border-radius: 6px;
		width: 408px;
		height: 32px;

		/*font-size: 14px;*/
		/*line-height: 17px;*/
		/*letter-spacing: -0.35px;*/
		/*color: rgba(56, 56, 56, 0.45);*/
		/*font-family: Helvetica Neue, sans-serif;*/
		/*padding-left: 12px;*/
		/*-webkit-appearance: none;*/
		/*-moz-appearance: none;*/
		/*appearance: none;*/
		/*background: url('../Icons/caret-down.svg') no-repeat right;*/
		/*background-position-x: calc(100% - 9.67px);*/
		/*outline: none;*/
}

.selectInput:focus {
		border: 1px solid #BFBFBF;
}
/*.option {*/
/*		width: 46px;*/
/*		height: 17px;*/
/*		left: 12px;*/
/*		top: 7px;*/

/*		font-family: Helvetica Neue, sans-serif;*/
/*		font-style: normal;*/
/*		font-weight: normal;*/
/*		font-size: 14px;*/
/*		line-height: 17px;*/
/*		letter-spacing: -0.35px;*/

/*		color: #383838;*/
/*}*/



