
.selectInput {
		display: flex;
		justify-content: center;
		background-color: #FAFAFB;
		border: 1px solid #DA1414;
		box-sizing: border-box;
		border-radius: 6px;
		width: 408px;
		height: 32px;
		cursor: pointer;

}

.selectInput_invalid {
		display: flex;
		justify-content: center;
		background-color: #FAFAFB;
		border: 1px solid #BFBFBF;
		box-sizing: border-box;
		border-radius: 6px;
		width: 408px;
		height: 32px;
		cursor: pointer;
}

.selectInput_invalid:focus {
		outline: none;
}

/*.dropdownContainer option {*/
/*		background: #FFFFFF;*/
/*		border-radius: 3px;*/
/*		font-family: Helvetica Neue, sans-serif;*/
/*		font-size: 14px;*/
/*		line-height: 20px;*/

/*}*/

