.mainContainer {
		background-color: #F4F2F5;
}

.SearchContainer {
		display: flex;
		flex-direction: column;
		margin: 24px 0 16px 68px;
}

.userListContainer {
		margin: 0 68px;
}

.headerUserList {
		margin-right: 69px;
}


.titleUsers {
		margin-left: 69px;
		font-size: 24px;
		line-height: 29px;
		font-weight: bold;

		color: #151515;
		opacity: 0.9;

}

thead {
		height: 56px;
		box-sizing: border-box;
		box-shadow: inset 0 -4px 0 #F4F2F5;
}

.tr > th {
		text-align: left;
}

.tr > th > span {
		font-weight: 500;
		line-height: 17px;
		letter-spacing: -0.35px;

		color: rgba(0, 0, 0, 0.6);
		mix-blend-mode: hard-light;
		opacity: 0.76;
}



.tableUserListInfo {
		table-layout: auto;
		width: 100%;
		border-collapse: collapse;
		background: rgba(255, 255, 255, 0.55);
}



.tableUserListText {
		box-sizing: border-box;
		box-shadow: inset 0 -4px 0 #F4F2F5;
		height: 56px;
}


.ArrowImg {
		margin-right: 42px;
		visibility: hidden;
}

.tdLink {
		width: 28px;
}

.avatar {
		width: 32px;
		height: 32px;
		box-sizing: border-box;
		border-radius: 40px;
		color: #D0A7B6;
		background: none;
		margin-left: 16px;
}

.photo {
		background-color: #121033;
}

@media (min-width: 1500px) {
		.tableHeaderName {
				margin-right: 300px;
		}

		.tableHeaderEmail {
				margin-right: 233px;
		}

		.tableHeaderRole {
				margin-right: 228px;
		}

		.tableTextName {
				width: 286px;
		}

		.tableTextEmail {
				width: 268px;
		}

		.tableTextRole {
				width: 255px;
		}
}

@media (min-width: 1800px) {
		.tableHeaderName {
				margin-right: 320px;
		}

		.tableHeaderEmail {
				margin-right: 245px;
		}

		.tableHeaderRole {
				margin-right: 240px;
		}

		.tableTextName {
				width: 305px;
		}

		.tableTextEmail {
				width: 278px;
		}

		.tableTextRole {
				width: 270px;
		}
}

@media (max-width: 1100px) {
		.phone {
				margin-right: 60px;
		}

}
