/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.main-flex*/
/*{*/
/*    background-color: bisque;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/
/*.button-main-flex*/
/*{*/
/*    width: 300px;*/
/*    height: 150px;*/
/*    background-color: orangered;*/
/*    border-radius: 10px;*/
/*}*/
/*.button-main-flex:hover*/
/*{*/
/*    background-color: orange;*/
/*}*/
