.boxSearch {
		width: 296px;
		display: flex;
		align-items: center;

}

.Search {
		width: 100%;
		height: 32px;
		padding-left: 28px;
		background: #FAFAFB;
		border: 1px solid #BFBFBF;
		box-sizing: border-box;
		border-radius: 6px;
		margin: 0;
		outline: none;

		font-family: Helvetica Neue, sans-serif;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.35px;
		color: #383838;
}

.searchIcon {
		position: absolute;
		margin-left: 10px;
}
