@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main-flex-login
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}
.login-form
{
    display: flex;
    flex-direction: column;

    width: 408px;
    height: 312px;

    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-sizing: border-box;
    border-radius: 12px;
}
.login-form-h3
{
    font-family: 'Bebas Neue', bold;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding-top: 22px;
    /* identical to box height */

    text-align: center;

    color: #151515;

    opacity: 0.9;
}
.login-form-spam
{
    font-family: 'Bebas Neue', inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 32px;
    /* identical to box height */
    letter-spacing: -0.35px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: hard-light;
    opacity: 0.76;
}
.login-input, .password__input {
    height: 72px;
    width: 344px;
    margin: 10px auto;

    background: #FAFAFB;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 6px;
}
.login-input:focus {
    outline: none !important;
    border:1px solid #FF650E;
    box-shadow: 0 0 10px #FF650E;
}
.password__input:focus {
    outline: none !important;
    border:1px solid #FF650E;
    box-shadow: 0 0 10px #FF650E;
}
.login-form-button
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 33px;
    width: 344px;
    margin: 10px auto;
    background: linear-gradient(180deg, #FF650E 0%, #FF650E 100%);
    border-radius: 8px;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 150px;
    min-height: 30px;
    font-family: 'Bebas Neue', inherit;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: #FF650E;
    background: linear-gradient(90deg, rgba(255, 110, 26,1) 0%, rgba(255, 101, 14, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(255, 142, 77,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #FF650E;
    box-shadow: 0 0 60px rgba(255, 101, 14,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #FF650E;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.password__show
{
    float: right;
    padding-right: 40px;
    font-family: 'Bebas Neue', inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 32px;
    /* identical to box height */
    letter-spacing: -0.35px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: hard-light;
    opacity: 0.76;
}




