.mainBox {
		display: flex;
		align-items: center;
		padding: 6px 16px;
		box-sizing: border-box;
		width: 344px;
		height: 29px;
		top: 19px;
		border-radius: 8px;
		z-index: 5;
}

.Success {
		background-color: #EDF9F0;
}

.Warning {
		background-color: #FFF4EC;
}

.Error {
		background-color: #FEEFEF;
}

.Info {
		background-color: #EEF2FA;
}

.roundIcon {
		display: flex;
		position: relative;
		align-items: center;
}

.roundIcon p {
		width: 16px;
		height: 16px;

		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 12px;
}

.SuccessRound {
		background: #287D3C;
		color: #EDF9F0;
}

.WarningRound {
		background: #B95000;;
		color: #FFF4EC;
}

.ErrorRound {
		background-color: #DA1414;
		color: #FEEFEF;
}

.InfoRound {
		background-color: #2E5AAC;
		color: #EEF2FA;
}

.message {
		margin-left: 8px;
		font-family: Helvetica Neue, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.35px;
}
