.mainBox {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 6px 16px;
box-sizing: border-box;
		position: absolute;
		width: 215px;
		height: 29px;
		left: 25px;
		top: 19px;

		background: #EDF9F0;
		border-radius: 8px;
}
.roundIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		margin: 0 8px;
		border-radius: 50px;

		position: static;
		width: 16px;
		height: 16px;
		left: 16px;
		top: 6.5px;
		background: #287D3C;
}
